.markdown-source-view.mod-cm6 .internal-embed > img,
.markdown-preview-view .internal-embed > img {
    box-shadow: 0 28px 8px -26px rgba(0, 0, 0);
    border:1px solid #666;
    margin: 0.25rem 0.25rem 0.75rem 0.25rem;
}
